.main-head{
    background: url(../images/vision-banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 500px;
    width: 100%;
    z-index: 0;
    padding-left: 80px;
    padding-top: 10px;
    background-position: right;
}
.main-head::before{
    /* content: "";
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.72);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; */
}
.font-30{
    font-size: 30px !important;
}
.main-head h1{
    color: rgb(226, 245, 244);
    font-size: 48px;
    text-decoration: none;
    letter-spacing: 5px;
    word-spacing: 2.5px;
}
.main-head h1 {
    color: rgb(18, 199, 199);
}
.hire-with{
    color: #fff !important;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.card{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-clip: unset;
    border: none;
    border-radius: unset;
    
}
.card_title{
    font-family: 'Montserrat';
    font-size: 29px;
    font-weight: 600;
    color: #707070;
}
.card-body{
    flex:1 1 auto;
    padding: 0%;
    color: #707070;
}
.card-top{
    height: auto;
    text-align: left;
    display: flex;
    align-items: center;
}
.card-image{
    width: 18%;
    height: auto;
}
.modules {
    margin: 0;
    font-size: 18px;
    line-height: 40px;
    color: rgb(5, 97, 97);
    font-family: 'Roboto Slab', serif;
}
.modules h7 {
    color: rgb(43, 42, 42);
    font-size: 25px;
    font-weight: 500;
    word-spacing: 6px;
    letter-spacing: 2px;
    color: rgb(4, 71, 71);
}
.centor{
    display: flex;
    align-items: center;
    padding: 5rem 9rem 4rem;
}
.centor-rev{
    display: flex;
    align-items: center;
    padding: 9rem 9rem 9rem;
    flex-direction: row-reverse;
}
.side-image{
    width: 17rem;
    height: auto;
}
.side-image2{
    width: 17rem;
    height: auto;
}
.card2{
    position: relative;
    display: block;
    text-align: end;
    /* flex-direction: column; */
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: unset;
    border: none;
    border-radius: unset;
}
.card-image2{
    width: 12%;
    height: auto;
}
.card-top2{
    height: auto;
    text-align: end;
    align-items: center;
}
span{
    color: teal;
    font-weight: 500;
}
.text-top{
    font-size: 48px;
    font-weight: 600 !important;

}
.pad-t{
    padding-top: 4rem;
}
@media screen and (max-width: 992px) {
    .centor{
        display: table-row-group;
    }
    .centor-rev{
        display: table-row-group;
    }
    .side-image-div{
        text-align: center;
    }
    .main-head{
        padding-left: 20px;
    }
    .font-30{
        font-size: 10px !important;
    }
    .text-top{
        font-size: 14px;
    }
  }
@media screen and (max-width: 780px) {
    .main-head{
        height: 200px;
    }
    
}